.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 70%;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    align-items: center;
    justify-content: center;

    .city {
        font-size: 12px;
    }

    .temp {
        font-size: 18px;
        text-align: left;
    }

    .img {
        max-width: 54px;
        max-height: 54px;
    }

    .desc {
        font-size: 12px;
    }
}